* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --page-1-color: steelblue;
  --page-2-color: rgb(140, 210, 195);
  --page-3-color: rgb(117, 90, 205);
  --page-4-color: teal;
  --animate-speed: 2s;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  color: white;

  h1 {
    font-size: 4rem;
    line-height: 1.2rem;
    margin: 2rem;
  }
}

#page-1{
  background-color: var(--page-1-color);
  h1 {
    transform: translateY(-1200px);
    animation: pMoveIn var(--animate-speed) forwards ease-in;
  }
  p {
    transform: translateX(-1800px);
    animation: pMoveIn 2s forwards ease-in;
    animation-delay: 0ms;

  }
}

@keyframes pMoveIn {
  to {
    transform: translateX(0) translateY(0);
  }
}

#page-2{
  background-color: var(--page-2-color);
}
#page-3{
  background-color: var(--page-3-color);
}
#page-4{
  background-color: var(--page-4-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  margin: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  &:hover{
    background: #ddd;
  }
  &:visited{
    color:dark;
    text-decoration: none;
  }
}

.btn-dark{
  background-color: #130f40;
  color: white;
  &:hover{
    filter: brightness(0.4);
    background-color: #130f40;
  }
}



@media screen and (max-width: 768){
  .page{
    h1{
      font-size:3.5rem
    }
    p1 {
      font-size: 1.1rem;
    }
  }
}